Vagrantfile
.vagrant/machines/deb/virtualbox/action_provision
.vagrant/machines/deb/virtualbox/action_set_name
.vagrant/machines/deb/virtualbox/box_meta
.vagrant/machines/deb/virtualbox/creator_uid
.vagrant/machines/deb/virtualbox/id
.vagrant/machines/deb/virtualbox/index_uuid
.vagrant/machines/deb/virtualbox/synced_folders
.vagrant/machines/deb/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
Provisioning/add_hosts.sh
Provisioning/azure_arc_onboard.sh
Provisioning/install_ansible_centos.sh
Provisioning/install_ansible_deb.sh
Provisioning/install_docker_centos.sh
Provisioning/install_docker_deb.sh
Provisioning/install_docker_minikube_centos.sh
Provisioning/install_docker_minikube_deb.sh
Provisioning/install_jenkins_centos.sh
Provisioning/install_jenkins_deb.sh
Provisioning/install_terraform_centos.sh
Provisioning/install_terraform_deb.sh
Provisioning/python_provisioning_centos.sh
Provisioning/python_provisioning_deb.sh
